<h2>Other</h2>

{{outlet}}

<section>
  <header>
    <h2>Session Data</h2>
  </header>
  <ul>
    <li>
      <strong>accessToken</strong>
      <pre>{{model.accessToken}}</pre>
    </li>
    <li>
      <strong>authenticator</strong>
      <pre>{{model.authenticator}}</pre>
    </li>
    <li>
      <strong>provider</strong>
      <pre>{{model.provider}}</pre>
    </li>
    <li>
      <strong>tokenType</strong>
      <pre>{{model.tokenType}}</pre>
    </li>
  </ul>
</section>
